/ Main hero unit for a primary marketing message or call to action
.hero-unit
  %h1 Hello, world!
  %p= lorem.paragraph
  %p
    %a.btn.primary.large Learn more »
/ Example row of columns
.row
  .span6
    %h2 Heading
    %p= lorem.paragraph
    %p
      %a.btn{:href => "#"} View details »
  .span5
    %h2 Heading
    %p= lorem.paragraph
    %p
      %a.btn{:href => "#"} View details »
  .span5
    %h2 Heading
    %p= lorem.paragraph
    %p
      %a.btn{:href => "#"} View details »
